@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Custom/validate.js"></script>
    <script>
        $_UnauthorizedUser = "@Url.Action("NotAuthorized", "Login")";
    </script>
}

<div class="form-horizontal">
    <h4>Login Request</h4>
    <hr />
    <div class="form-group">
        <span class="control-label col-md-2">User Name</span>
        <div class="col-md-10">
            <input name="Username" type="text" class="form-control" id="txtUserName" />
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-2">Password</span>
        <div class="col-md-10">
            <input name="Password" type="password" class="form-control" id="txtPassword" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input onclick="Login.ValidateForm()" type="button" value="Submit" class="btn btn-default" />
        </div>
    </div>
</div>
